body,
td,
a,
p,
.h {
  font-family: arial, sans-serif;
  font-size: small;
}

a {
  text-decoration: none;
  color: #000;
  opacity: 0.75;
}

.main-div {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.nav {
  position: relative;
  padding-top: 10px;
  flex: 1;
  display: flex;
}

.nav-left {
  flex: 1;
}

.nav-left-links {
  padding-left: 15px;
}

.nav-right {
  flex: 1;
  text-align: right;
}

.nav-right-links {
  padding-right: 15px;
}

.logo {
  position: relative;
  top: 40%;
  max-width: 100%;
  height: auto;
}

.image {
  background-color: blueviolet;
  text-align: -webkit-center;
  flex: 5;
}

.search-bar {
  background-color: cadetblue;
  flex: 1;
}

.two-buttons {
  background-color: chocolate;
  flex: 1;
}

.blank-space {
  background-color: darkgray;
  flex: 5;
}

.bottom-div {
  background-color: darksalmon;
  flex: 1;
}

.apps-logo {
  max-width: 22px;
  height: auto;
}

.apps-logo:hover {
  cursor: pointer;
}

.profile-logo {
  position: relative;
  height: 30px;
  width: 45px;
  border-radius: 50%;
  opacity: 1;
}
