body,
td,
a,
p,
.h {
  font-family: arial, sans-serif;
  font-size: small;
}

a {
  text-decoration: none;
  color: #000;
}

.main-div {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.nav {
  position: relative;
  flex: 1;
  display: flex;
}

.nav-left {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-left-links {
  padding-left: 15px;
}

.nav-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-right-gmail {
  padding-right: 15px;
}

.nav-right-images {
  padding-right: 20px;
}

.logo {
  position: relative;
  top: 40%;
  max-width: 100%;
  height: auto;
}

.image {
  background-color: blueviolet;
  text-align: -webkit-center;
  flex: 5;
}

.search-bar {
  background-color: cadetblue;
  flex: 1;
}

.two-buttons {
  background-color: chocolate;
  flex: 1;
}

.blank-space {
  background-color: darkgray;
  flex: 5;
}

.bottom-div {
  background-color: darksalmon;
  flex: 1;
}

.apps-logo:hover {
  cursor: pointer;
}

.apps-logo {
  position: relative;
  height: 20px;
  width: 20px;
  padding-right: 35px;
}

#profile-logo {
  position: relative;
  height: 32px;
  width: 32px;
  opacity: 1 !important;
  right: 20px;
  border-radius: 50%;
}

#profile-logo:hover {
  cursor: pointer;
}
